body {
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: whitesmoke;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.logo-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.logo-box svg {
    max-width: 60%;
    max-height: 60%;
}

@keyframes rotateAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50%, 100% {
        opacity: 1;
    }
}

@keyframes moveUp {
    0% {
        transform: translate(-46.597034px, calc(-300px + -85.691336px));
    }
    100% {
        transform: translate(-46.597034px, -85.691336px);
    }
}

@keyframes moveDown {
    0% {
        transform: translate(-46.597034px, calc(300px + -85.691336px));
    }
    100% {
        transform: translate(-46.597034px, -85.691336px);
    }
}

@keyframes moveRight {
    0% {
        transform: translate(calc(-300px + -46.597034px), -85.691336px);
    }
    100% {
        transform: translate(-46.597034px, -85.691336px);
    }
}

@keyframes moveLeft {
    0% {
        transform: translate(calc(300px + -46.597034px), -85.691336px);
    }
    100% {
        transform: translate(-46.597034px, -85.691336px);
    }
}

@keyframes scaleDown {
    0% {
        transform: scale(2) translate(-46.597034px, -85.691336px);
    }
    100% {
        transform: scale(1) translate(-46.597034px, -85.691336px);
    }
}

@keyframes scaleAnimation {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes skew {
    0%, 100% {
        transform: skewX(0deg); 
    }
    25%, 75% {
        transform: skewX(0.5deg); 
    }
    50% {
        transform: skewX(-0.5deg); 
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#path1 {
    transform-origin: center;
    animation: moveUp 2s ease-in-out forwards;
}

#path2 {
    transform-origin: center;
    animation: moveRight 3s ease-in-out forwards;
}

#path3 {
    transform-origin: center;
    animation: moveLeft 3s ease-in-out forwards;
}

#path4 {
    transform-origin: center;
    animation: scaleDown 1s ease-in-out forwards;
}

#path5 {
    transform-origin: center;
    animation: moveDown 2s ease-in-out forwards;
}

#path6 {
    transform-origin: -60.464993px -84.788215px;
    animation: scaleAnimation 1.5s ease-in-out forwards;
}

#path7 {
    transform-origin: -60.464993px -84.788215px;
    animation: 
        scaleAnimation 1.5s ease-in-out forwards,
        skew 1s ease-in-out forwards 2s;
}

#path8 {
    transform-origin: -60.464993px -84.788215px;
    animation: 
        scaleAnimation 1.5s ease-in-out forwards,
        fadeOut 0.25s linear forwards 1.5s;
}

.g21-animation {
    animation: rotateAnimation 2s linear 0s 1 forwards, 
                rotateAnimation 2s linear 6s 1 forwards,
                rotateAnimation 2s linear 12s 1 forwards;
    transform-origin: 105.30643px 152.47962px;
}

.g64-animation {
    animation: fadeInOut 7s ease-in-out 0s 1 forwards,
    fadeInOut 7s ease-in-out 6s 1 forwards,
    fadeIn 7s ease-in-out 12s 1 forwards;
}

#circle2, #circle3, #circle4, #path10 {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#circle2 {
    animation: fadeIn 1s ease-in-out 3 forwards 2.3s;
}

#circle3 {
    animation: fadeIn 1s ease-in-out 3 forwards 2.2s;
}

#circle4 {
    animation: fadeIn 1s ease-in-out 3 forwards 2.1s;
}

#path9 {
    animation: fadeIn 1s ease-in-out forwards 0s;
}

#path10 {
    transform-origin: 50px 155px;
    animation: scaleAnimation 1s ease-in-out 0s 2 forwards, fadeIn 1s ease-in-out forwards 0s;
}

#path11 {
    animation: fadeIn 1s ease-in-out forwards 0s;
}